* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 42px;
  font-weight: 500;
  margin-top: -80px;
  margin-bottom: 50px;
  color: #fff;
}

textarea {
  width: 600px;
  height: 250px;
  background: #4a42dede;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 6px;
  resize: none;
  margin-bottom: 20px;
}
textarea::placeholder {
  color: #fff;
  font-size: 18px;
}

.selector {
  display: flex;
  align-items: center;
  gap: 40px;
}

button {
  background: #ff2963;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
}
button img {
  border-radius: 50%;
  margin-right: 10px;
}
.selector {
  display: flex;
}
select {
  flex: 1;
  color: #fff;
  background: #403d84;
  height: 40px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .hero {
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
  }

  textarea {
    width: 250px;
    height: 250px;
    background: #4a42dede;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    resize: none;
    margin-bottom: 20px;
  }
  textarea::placeholder {
    color: #fff;
    font-size: 16px;
  }

  .selector {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  button {
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
  }
  button img {
    border-radius: 50%;
    margin-right: 10px;
  }
  .selector {
    display: flex;
  }
  select {
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 30px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    cursor: pointer;
  }
}
